# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.python-version

# Venv
.venv/
env/
venv/

# Tools
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Editors
.vscode/
.idea/
